<!--The content below is only a placeholder and can be replaced.-->
<h1 class="title">Evenement App</h1>
<nav>
  <a routerLink="/evenement" routerLinkActive="active">Evenementen</a>
  <a routerLink="/artiest" routerLinkActive="active">Artiesten</a>
  <a routerLink="/agenda" routerLinkActive="active">Agenda</a>
  <a routerLink="/gebruiker" routerLinkActive="active">Gebruikers</a>
  <a routerLink="/locatie" routerLinkActive="active">Locaties</a>
  <a routerLink="/toevoegen" routerLinkActive="active">Toevoegen</a>
</nav>&nbsp;
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
